@{
    ViewBag.Title = "confirmar e-mail";
}

<h2>Confirmação de envio de e-mail.</h2>

<div>
    <p>
        Obrigado por realizar seu cadastro, verifique seu e-mail e confirme o envio.  
    </p>
</div>